


<mat-card class="card">
    <mat-card-title>
        Hoe heet je?
    </mat-card-title>
    <label for="fname">naam: </label>
    <input type="text" id="name" name="name"><br><br>    
</mat-card>


<mat-card class="card">
    <mat-card-title>
        Hoeveel heb je uitgegeven?
    </mat-card-title>
    <label for="fname">hoeveelheid: </label>
    <input type="text" id="hoeveelheid" amount="hoeveelheid"><br><br>
    
</mat-card>

<input type="submit" value="opslaan" onclick="onSave({name},{amount})">