

<div>
    <mat-form-field appearance='fill' class="input-field">
        
        <input matInput type="text" [formControl]='nameControl' required>
        <span matPrefix>Naam:&nbsp;</span>
        
        <mat-error *ngIf="nameControl.invalid">Naam mag niet leeg zijn</mat-error>
        
    </mat-form-field>
    
</div>
<br><br><br>
<div>
    <mat-form-field class="input-field">
        
        <input matInput type="number" [formControl]='amountControl' required>
        <span matPrefix>€&nbsp;</span>
        <mat-error *ngIf="amountControl.invalid">Inleg moet minimaal €0.01 zijn</mat-error>
    </mat-form-field>
    <br><br><br>
</div>



<div>
    <button mat-stroked-button color="primary" (click)="onSave()">Toevoegen</button>
</div>